* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items:center;
}
.menu {
    display: flex;
    align-items: center;
    
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
   display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a {
    background-color:#39AAE1;
}
nav a:hover {
    background-color: #39AAE1;
    color:#FFF;
}
#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/img1.jpg');
    background-position: center;
    background-size:cover;
    height: 670px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 0.6px 0px #555555;
    margin:0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 0.6px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex:1;
    color:#FFFFFF;
    padding:20px;
}
.banner1 {
    background-color:#39AAE1;
}
.banner2 {
    background-color:#0079C7;
}
.banner3 {
    background-color:#2B4C99;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-family: 12px;
    margin-top:20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: #FFF;
    font-size:13px;
    text-decoration: none;
}
.dia {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #264386;
    padding-bottom:6px;
    justify-content: space-between;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex:2;
}
#geral aside {
    flex:1;
}
.widget_title {
    margin-top:30px ;
    margin-bottom:20px ;
}
.widget_title_text {
    color:#000000;
    font-size: 21px;
    font-weight: bold;
    margin-top: 25px;
}
.widget_title_bar {
    width:50px;
    height:2px;
    background-color:#36A9C1;
    margin-top: 10px;
}
.Q1,
.Q2,
.Q3 {
    display: flex;
    justify-content:space-between;
}
.quadrado1,
.quadrado2,
.quadrado3,
.quadrado4,
.quadrado5,
.quadrado6 {
    width: 140px;
    height: 140px;
    background-color:#36a9e1;
    margin-left: 0;
    margin-block: 8px;
}
.paitex  {
    display: flex;
    flex-direction: column;
}
.title_widget {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
}
.text1 ,
.text2 ,
.text3 {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
}
.flex {
    display: flex;
    flex-wrap: wrap
}
article {
    flex:1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display:flex;
}
article .news_posted_at {
    background-color:#2B4C99;
    color: #FFFFFF;
    font-size:12px;
    padding: 10px;
}
article .news_comments {
    background-color:#39AAE1;
    color: #FFFFFF;
    font-size:12px;
    padding: 10px;
    margin-left: 3px;
}
article .news_thumb {
    margin-top: 30px;
}
article .news_thumb img {
    width: 100%;
    height:auto;
}
article .news_title {
    margin-top:25px;
    margin-bottom: 25px;
    font-size: 23px; 
    color:#000000;
}
article .news_resume {
    color:#5C5C5C;
    line-height: 20px;
    font-size: 14px;
}
footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer_menu {
    display: flex;
    flex: 1;
}
.textfm_1,
.textfm_2,
.textfm_3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.subtextfm_1,
.subtextfm_2,
.subtextfm_3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.fm_1,
.fm_2,
.fm_3 {
    flex:1;
    color:#FFFFFF;
    padding: 20px;
}
.fm_1 {
    background-color:#39AAE1;
}
.fm_2 {
    background-color:#0079C7;
}
.fm_3 {
    background-color:#2B4C99;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    flex:1;
    color:#FFFFFF;
}

footer .widget_title_text {
    color:#FFFFFF;
}
.flexColumn {
    flex-direction: column;
}
.footer_copy {
    border-top: 1px solid #2C2C2C;
    height: 40px;
    list-style: 40px;
    color: #5C5C5C;
    font-size: 12px;
    margin-top: 30px;
}
.text_footer {
    display: flex;
    font-size: 14px;
    color:#BBBBBB;
    margin-right: 5px;
    margin-bottom: 20px;
    line-height: 18px;
}
.text_h6 {
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    color:#BBBBBB;
    font-size: 14px;
    margin-right: 7px;
    text-decoration: none;
}
.latest_text {
    color:#FFFFFF;
    font-size:15px;
}
.latest_text_color {
    font-size: 13px;
    color:#36A9C1;
    padding-top:6px;
    padding-bottom: 17px;
    list-style: none;
}
.latest_text2 {
    color:#BBBBBB;
    font-size:15px;
}
.effect_text {
    color:#FFFFFF;
}
.menuMobile {
    display:none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height:3px;
    background-color: #39AAE1;
}
@media (max-width:600px) {
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size:17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container  {
        flex-direction: column;
    }
    .widget_title{
        padding-top: 40px;
    }
    #geral section,
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position:absolute;
        left:0;
        width: 100%;
        background-color: #FFFFFF;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
}